# Common
.env
node_modules/
__pycache__/
.venv/
.DS_Store

# Next.js
.next/
out/
build/
*.tsbuildinfo
next-env.d.ts

# Python / FastAPI
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.pytest_cache/
.mypy_cache/
